body{
    font-family: "Gill Sans", sans-serif;
}
.texto-destacado{
    color: #ffbb00;
}
.titulo-blog{
    color:chocolate;    
    font-weight: bold;
    font-size:xx-large;    
}
.urgente{
    color: crimson;
}